.heading{
    font-size: 1.6rem;
    background-color: rgb(148, 188, 203);
    height: 8rem;
    padding: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;

    h1{
        font-size: 3.2rem;
        font-weight: 600;
        color: white;
        margin-left: 2rem;
    }

    .utility{
        button{
            background-color: white;
            color: black;
        }
    }
}

.main{
    display: grid;
    grid-template-columns: 30rem 1fr;
    column-gap: 1rem;

    .navSection{
        padding: 1rem;

        nav{
            // background-color: red;
            margin-top: 5rem;
            border-radius: 1rem;
            overflow: hidden;
            border-color: var(--color-gray-1);
            border-width: .1rem;

            h2{
                background-color: var(--primary-color-dark);
                font-size: 1.8rem;
                padding: .5rem 2rem;
                color: white;
                text-align: center;
            }

            .navList{
                font-size: 1.6rem;
                margin: 2rem 1rem;

                li{
                    text-align: center;
                    cursor: pointer;
                    margin-left: auto;
                    margin-right: auto;
                    width: 80%;
                    border-bottom: 3px solid rgb(157, 157, 157);
                    padding: 1rem 0;

                    transition: all 0.2s;

                    &:hover{
                        width: 100%;
                        border-bottom: 3px solid rgb(109, 168, 190);
                    }
                }
                .navList:not(:last-child){
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .mainContentSection{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2.8rem;
    }
}