@import "tailwindcss";



:root{
    --rimary-color-light: rgb(148, 188, 203);
    --primary-color-dark: rgb(109, 168, 190);
    --color-gray-1: rgb(157, 157, 157);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}