.btn{
    background-color: var(--main-color-primary-dark);
    color: white;
    padding: .8rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    cursor: pointer;

    .icon{
        width: 2rem;
        height: 2rem;
        fill: white;
        margin-right: .7rem;
    }
}

.textBtn{
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all .1s;

    &:hover{
        background-color: rgb(224, 224, 224);
    }
    &:active{
        background-color: rgb(139, 139, 139);
    }

    .icon{
        width: 2rem;
        height: 2rem;
    }
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0rem 1rem;
    font-size: 1.6rem;

    .leftHeader{
        display: flex;
        justify-content: space-evenly;
        height: 100%;

        .logo{
            font-size: 2.2rem;
            font-weight: bolder;
            color: var(--main-color-primary-light);
            align-self: center;
            margin-right: 2rem;
            font-style: italic;
        }

        .drop{
            align-self: stretch;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            transition: all .1s;

            &:hover{
                background-color: var(--main-color-primary-light);
                color: white;
            }

            .icon{
                width: 2rem;
                height: 2rem;
            }

            &:hover .icon{
                fill: white;
            }
        }

        .searchContainer{
            position: relative;
            align-self: center;
            margin-left: 2rem;
            input{
                padding: .8rem 2rem;
                padding-right: 4rem;
                border-radius: 2rem;
                border: 1px solid var(--color-gray-1);
                width: 25rem;

                transition: all .1s;

                &:focus{
                    outline: none;
                    width: 28rem;
                }
            }
            .icon{
                position: absolute;
                width: 3.5rem;
                height: 3.5rem;
                right: 6px;
                top: 3px;
            }
        }
    }

    .rightHeader{
        height: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        align-items: center;

        .profile{
            width: fit-content;
            display: flex;
            gap: 1rem;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                background-size: contain;
            }
        }
    }
}

.nav{
    height: 3rem;
    background-color: var(--main-color-dark-1);
    color: white;
    font-size: 1.6rem;
    overflow: hidden;
    
    ul{
        height: 100%;
        li{
            height: 100%;
            width: fit-content;
            font-size: 1.4rem;
            display: inline-block;

            .link{
                background-color: var(--main-color-dark-1);
                height: 100%;
                padding: 0 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: all .1s;

                &:hover{
                    background-color: var(--main-color-gray-1);
                    color: black;
                }
            }

            .active{
                background-color: var(--main-color-primary-light);
            }
        }
    }
}

.main{
    display: grid;
    grid-template-columns: 20rem 1fr;
    height: calc(100% - 9rem);

    .sectionNav{
        background-color: var(--main-color-gray-1);
        overflow-y: auto;
        font-size: 1.6rem;
        padding-top: 1rem;

        h2{
            font-size: 2rem;
            text-align: start;
            padding: 1rem;
            font-weight: 500;
        }

        ul{
            li{
                .link{
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    padding: .5rem 1rem;

                    transition: all .1s;

                    &:hover{
                        background-color: var(--main-color-dark-1);
                        color: white;
                    }
                }
                .active{
                    background-color: var(--main-color-primary-light);
                    color: white;
                }
            }
        }
    }

    .pageContainer{
        overflow-y: auto;

        .leftPanel{
            position: relative;

            .btnContainer{
                position: absolute;
                bottom: 1rem;
                right: 1rem;

                .toggleBtn{
                    background-color: var(--main-color-dark-1);
                    margin-top: 1rem;
                    padding: 1rem;
                    font-size: 1.6rem;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 10;

                    .icon{
                        width: 2.5rem;
                        height: 2.5rem;
                        fill: white;
                    }
                }

                .active{
                    .icon{
                        fill: var(--main-color-primary-light);
                    }
                }
            }
        }

        .divider{
            width: 1rem;
            background-color: var(--main-color-gray-1);
        }

        .rightPanel{

            .blockContainer{
                font-size: 2.2rem;
                background-color: var(--main-color-dark-1);
                color: white;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            // background-color: green;
            .divider{
                width: 100%;
                height: 1rem;
                background-color: var(--main-color-gray-1);
            }

            .editorPanel{
                .codeEditorHeader{
                    background-color: var(--main-color-gray-1);
                    padding: .5rem 1rem;
                    font-size: 1.4rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    select{
                        border: 2px solid black;
                        padding: .2rem .5rem;
                        border-radius: .5rem;
                        cursor: pointer;
                        margin-left: .5rem;
                        margin-right: 1rem;

                        &:active,
                        &:focus{
                            outline: none;
                        }
                    }

                    .submitBtn{
                        padding: .5rem 1rem;
                        margin: 0;
                    }

                    .disabled{
                        background-color: #025f3d;
                    }
                }
            }

            .outputPanel{
                background-color: rgb(18, 18, 18);
                font-size: 1.6rem;
                color: white;
                padding: 1rem 2rem;
                font-size: 1.6rem;
                font-weight: 700;

                .outputHeader{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid var(--main-color-primary-light);

                    button{
                        padding: .2rem .5rem;
                        background-color: var(--main-color-gray-1);
                        color: black;
                        font-size: 1.4rem;
                        font-weight: normal;
                    }

                    .active{
                        background-color: var(--main-color-primary-light);
                        color: white;
                    }
                }

                .container{
                    height: 100%;
                    overflow-y: auto;

                    .submissionCard{
                        background-color: var(--main-color-gray-1);
                        color: black;
                        font-size: 1.2rem;
                        padding: .8rem;
                        border-radius: 1rem;
                        overflow: hidden;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        align-items: center;
                        justify-items: center;
                        margin-top: 1rem;

                        .accept{
                            color: rgb(0, 214, 0);
                        }
                        .wa{
                            color: red;
                        }
                    }
                }
            }

            .accepted{
                color: rgb(0, 255, 0);
            }
            .wa{
                color: red;
            }

            .aiPanel{
                background-color: var(--main-color-dark-1);
                width: 100%;
                height: 100%;
                font-size: 1.6rem;
                overflow: hidden;
                display: flex;
                flex-direction: column;

                .messagesBlock{
                    padding: 1rem 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 1rem;
                    overflow-y: auto;
                    flex-grow: 1;

                    .aiMessage{
                        background-color: rgb(97, 97, 97);
                        padding: 1rem;
                        color: white;
                        border-radius: 1rem;
                        margin-right: auto;
                    }

                    .userMessage{
                        background-color: rgb(97, 97, 97);
                        padding: 1rem;
                        color: white;
                        border-radius: 1rem;
                        margin-left: auto;
                    }
                }

                .messageInput{
                    border: 1px solid green;
                    padding: .5rem;
                    height: fit-content;

                    textarea{
                        width: 100%;
                        background-color: white;
                        padding: .8rem 1rem;
                        min-height: 10rem;
                        max-height: 20rem;
                        border-radius: 2rem;
                        overflow: hidden;


                        &:focus,
                        &:active{
                            outline: none;
                        }
                    }

                    button{
                        margin: 0;
                    }
                }
            }
        }

        .hide{
            display: none;
        }
    }
}

.signupContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

    .signup{
        width: 60rem;
        height: 50rem;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.169);
        border-radius: 2rem;
        overflow: hidden;

        h2{
            background-color: var(--main-color-primary-light);
            color: white;
            font-size: 2.2rem;
            text-align: center;
            padding: 1rem 0;
            letter-spacing: 1rem;
        }

        input{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            font-size: 1.6rem;
            padding: 1rem 2rem;
            border: 2px solid black;
            margin-bottom: 2rem;
            border-radius: 2rem;

            &:active,
            &:focus{
                outline: none;
            }
        }

        .fileSelector{
            width: fit-content;
            height: 3rem;
            border-radius: 1rem;
            padding: 0 .5rem;
            background-color: var(--main-color-dark-1);
            color: white;
            padding: .5rem 1rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            margin-top: .5rem;
        }
        .displayImg{
            margin-top: 1rem;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
        }

        .ageXgender{
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 2rem;

            input{
                width: 15rem;
                margin: 0;
                height: 4rem;
                border-radius: 1rem;
            }

            select{
                border: 2px solid black;
                cursor: pointer;
                padding: .8rem 1rem;
                
                &:focus,
                &:active{
                    outline: none;
                }
            }
        }

        button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}